@import './var';

.item{
    width: 300px;
    height: 150px;
    background-color: $fore2;
    border-radius: 10px;
    position: relative;
    left: 70%;
    margin: 5%;
    padding: 10px;
    &:hover{
        border-width: thin;
        border-style: solid;
        border-color: white;
    }
}

.clicked{
    background-color: $text;
    left: 75%;
}

@media screen and (max-width: 900px) {
    .item{
        left: 0px;
        width: 150px;
        height: 75px;
    }
}